@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html,
body {
  height: 100%;
}
.dialog-content {
  display: flex
;
  flex-direction: column;
  height: 100%;
}
.scrollable-table-container table {
  margin-top: -1px;
  border: 1px solid #d1d5db;
}
.scrollable-table-container {
  overflow-y: auto;
  position: relative;
  flex: 1 1 auto;
  
}
.scrollable-table-shim{
  position: sticky;
  top: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #d1d5db;
  background-color: white;
  z-index: 10;
}
.scrollable-table-container thead {
  position: sticky;
  top: -1px;
  background-color: white;
  /* 必ず背景色を設定 */
  z-index: 100;
  /* 優先順位を高くする */
  margin: 0;
  /* 不要なマージンを排除 */
  border: 1px solid #d1d5db !important;
  /* 必要に応じてボーダーを設定 */
  border-bottom: 1px solid #d1d5db !important;
  /* 必要に応じてボーダーを設定 */
  /* display: block; */
}

.scrollable-table-container thead>tr {
  /* display: flex; */
  border: 1px solid #d1d5db;
}
.scrollable-table-container thead>tr>th {
  border: 1px solid #d1d5db;
}


.scrollable-table-container tbody {
  width: 100%;
  /* display: block; */
}

.scrollable-table-container tbody>tr {
  /* display: flex; */
}

.scrollable-table-container tbody>tr>td {
  border: 1px solid #d1d5db;

}
